*{
    box-sizing: border-box;
    list-style: none;
 }
 
 body{
    display: flex;
    font-family: sans-serif;
    font-size: 1.5rem;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0;
    padding: 0;
 }
 
 .content{
    width: 100%;
 }
 
 nav{
    background: #008080;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 40px;
    top: 0;
 }
 
 nav ul{
    text-align: center;
    margin: 0;
 }
 
 
 nav ul li{
    display: inline-block;
    margin: 5px 5px 0 0;
 }
 
 nav ul li a{
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
 }
 
 nav a:hover{
    background: #0082e6;
    position: relative;
    transition: .5s;
 }
  
 .logo{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display:  none;
 }
 
 .checkbtn{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
    text-align: center;
 }
 
 #check{
     display: none;
 }
 /* Se utiliza un media screen para los dispositivos con un ancho maximo a los 952px*/
 
 @media (max-width: 952px){
    .checkbtn{
    display: block;
    }
    .logo{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: block;
    width: 30px;
    text-align: center;
 }
 nav ul li a{
    font-size: 16px;
    }
 }
 /* Se utiliza un media screen para los dispositivos con un ancho maximo a los 858px*/
 @media (max-width: 858px){
    .checkbtn{
    display: block;
    }
    .logo{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: block;
    width: 50px;
    justify-content: flex-start;
    align-items: flex-start;
 }
    ul{
    position: fixed;
    width: 100%;
    height: 60vh;
    background: #2c3e50;
    top: 35px;
    left: -100%;
    transition: all .5s;
}
    nav ul li{
    display: block;
    margin: 40px 0;
    line-height: 10px;
}  
    nav ul li a{
    font-size: 20px;
}
  
    #check:checked ~ ul{
    left: 0;
 }
 }
 
 .redes{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px 15px 0 0;
    display: block;
   }
 
 .redes a{
    margin: 0 10px 0 0;
 }
 
 .bi-facebook,
 .bi-youtube,
 .bi-github{
    font-size: 20px;
    height: 27px;
 }
 
 .bi-facebook{
    color: #2962ff;
 }
 
 .bi-twitter{
    color: #55acee;
 }
 
 .bi-youtube{
    color: red;
 }
 
 .bi-github{
    color: slategrey;
 }
 
 .bi-linkedin{
    color: #2962ff;
 }
 
 .portada,
 .portada img{
    width: 100%;
    height: 63vh;
}
 
 
 .footer,
  footer{
    width: 100%;
    height: auto;
    position: relative;
    background: #008080;
    bottom: 0;
 }
 
 footer h1{
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
 }
 
 .input{
    text-align: center;
    justify-content: center;
    align-items: center;
 }
 
 .email{
    width: 300px;
    text-align: center;
    background: #04AA6D;
    height: 25px;
    border-radius: 15px;
    margin: 0 0 10px 0;
 
 }
 
 ::placeholder{
    color: #fff;
 }
 
 .button{
   text-align: center;
 }
 
 .boton{
    width: 300px;
    height: 30px;
    background: #04AA6D;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
 }
 
 .rights h5{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: .9rem;
    margin-bottom: -10px;
 }
 
 .design{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    margin-bottom: -10px;
    color: #fff;
 }
 
 .design p span{
    color: #faf611;
 }
 
