body{
    font-family: sans-serif;
    padding:0;
    margin: 0;
    color: #000000;
    font-size: 20px;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}
.SocialMedia a:link{
    color:darkcyan;
}
.SocialMedia a:hover{
    color: blue;
}


header{
    margin-top: -25px;
    width: 100%;
    margin-bottom: -3px;
    background-color: royalblue;
}

header nav {
    width:100%;
    background:#024959;
    margin-top: 20px;
    height: 35px;
    
}

header nav ul {
    overflow: hidden;
    list-style: none;
    float: 20px;
}

header nav ul li {
	float:left;
    margin-top: 5px;
    margin-left: 20px;
 
}

.icon-tool{
    margin-left: 10px;
}

header nav ul li a {
    font-size: 20px;
    color:#fff;
	padding:15px;
	text-decoration:none;
    margin-right: 90px;
}

header nav ul li span {
	margin-right:10px;
}

footer{
    bottom: 0;
    background: #202020;
    width: 100%;
    height: auto;
    font-family: sans-serif;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color:white;
    display:inline-flex;
    left: 0;
    right: 0;
    font-size:15px;
    flex-wrap: wrap;
    position:relative;
    overflow:hidden;
}

.Colum1{
    width: 420px;
}

.colum1 h1 {
    text-align: left;
    font-size: 2em;
    text-decoration:none;
    color:snow;
    margin-left: 70px;
    margin-bottom: -0;
}

.colum1 li{
    top: -10px;
    list-style: none;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    text-decoration: none;
}

.colum1 a:link {
    text-decoration:none;
    }

.colum1 a:hover{
        text-decoration:underline;
        text-decoration-color: red;
}

.colum2{
    width:420px;
}

.colum2 h1{
    width: 300px;
    margin-left: 250px;
}

.redes li {
    list-style: none;
    margin-top: 20px;
    margin-left: 20px;
    
    
}

.redes ul{
    margin-top: 70px;
    margin-left: -200px;
    display: 
    
}

.redes ul li label{
    margin-left: 10px;
    
}

.redes a:hover li{
    text-decoration: cadetblue;
}

.colum3{
    text-decoration: none;
    width: 500px;
    list-style: none;
    font-size: 20px;
}

.colum3 h1{
    text-align: center;
    font-size: 30px;
    height: 36px;  
    margin-left: 230px;
}

 .colum3 ul li{
    text-align: left;
    list-style: none;
    
}

.colum3 a{
    width:200px;
    text-decoration: none;
    color:snow;
    margin-bottom: 10px;
    margin-left: 250px;
}

.colum3 a:link {
    text-decoration:none;
}

.colum3 a:hover{
    text-decoration:underline; 
    text-decoration-color: red;
}

.copyrights{
    
    display: flex;
    width: 400px;
    margin-top: -20px;
    margin-left: 530px;
    margin-bottom: -20px;

 }

 .rights{
     margin-top: 5px;
     margin-left: -399px;
     display: flex;
     margin-bottom: -10px;
     
 }

.Servicios{
    background-color: white;
    font-family: monospace;
    color: rgb(187, 0, 0);
}

.Servicios li{
    margin-top: -180px;
    margin-left: 390px;
    margin-bottom: 10px;
    width: 300px;
    height: 200px;
    
    
}

.webdesign-img{
    margin-top: -485px;
    margin-left: 849px;
    margin-bottom: -5px;
}

.img-presentacion{
    position: absolute;
    margin-top: -37px;
}
.about-us{
    color:rgb(187, 0, 0);
    text-align: center;
    position: relative;
    font-size: 30px;
}

.about{
    color: rgb(187, 0, 0);
    text-align: center;
    position: relative;
    font-size: 30px;
    margin-bottom: -27px;
}   

.Videos{
    margin-top: 3px;
    margin-left: 20px;
    margin-bottom: -27px;
    background-color: royalblue;
    padding: 2px;
    
}

.Clips{
    background-color: royalblue;
}
